<h1><a id="Org_Steward_listingManagementPage" name="Org_Steward_listingManagementPage">Org Steward</a>: Listing Management Page</h1>

<p>Org stewards can see every listing in their organization from their Listing Management page. To access this page, click the drop-down Main Menu on the right side of the Global Toolbar and select Listing Management:</p>

<p><img alt="Link to Listing Management Page from Global Toolbar" src="../mocks/Doc_images/listingManagementLink.png" style="height: 320px; width: 200px" title="Listing Management Page" /></p>

<p>As an organizational&nbsp;steward, the Listing Management page&nbsp;displays information about listings you own and listings you oversee.&nbsp;The Listing Management page displays different information for different users. The following sections explain each field as it relates to&nbsp;org&nbsp;stewards. For the user view see <a href="Center_listingManagementPage_user.html">User View</a>: Listing Management Page;&nbsp;or the <a href="Center_listingManagementPage_centerSteward.html"> Center steward&nbsp;section</a> for Center stewards.</p>

<p><b><img border="0" src="Doc_images/orgSteward_managementTabs.png" /></b></p>

<p>As an org&nbsp;<b>steward</b>, you see multiple tabs on the Listing Management screen:</p>

<ul style="margin-left: 40px">
	<li>The <b>Recent Activity</b> tab displays changes to all listings you oversee.</li>
	<li>The <b>My Listings</b> tab displays listings you own.</li>
	<li>Each&nbsp;<b>organizational tab</b> displays listings that you oversee for&nbsp;that specific organization. All the organization&rsquo;s listings appear there.</li>
</ul>

<table align="left" border="0" cellpadding="3" cellspacing="0" style="width: 100%">
	<tbody>
		<tr>
			<td><img alt="State Panel for an org steward" border="0" src="Doc_images/orgSteward_statePanel.png" /></td>
			<td>
			<p>&nbsp;</p>

			<p>The left-side State panel provides slightly different information than a user&rsquo;s or Center steward&#39;s&nbsp;left-side panel:</p>

			<p><b>State</b></p>

			<ul>
				<li><b>All</b> &ndash; Listings you oversee as a steward</li>
				<li><b>Published</b> &ndash; Listings that are approved by Center and organizational stewards within your organization (this number includes listings that are Disabled)</li>
				<li><b>Needs action</b> &ndash;Listing waiting for your approval. For instructions regarding approving or returning listings see <a href="Center_listings_approveReject_orgSteward.html">Approve or Return Listings</a>.</li>
				<li><b>(Pending) Org approved</b> &ndash; Listings waiting for Center steward approval</li>
				<li><b>Returned</b> &ndash; Listings returned to their owners</li>
				<li>Draft &ndash; Listings in the system that have not been submitted for approval</li>
			</ul>

			<p><b>Enabled</b></p>

			<p>All stewards see the Enabled<a> section which allows them to filter by <b>Enabled and Disabled listings</b> (For information about Enabled and Disabled listings see </a><a href="Center_listings_approveReject_orgSteward.html#OrgEnableDisable">Org Steward: Enable/Disable a Listing</a>.</p>

			<p>&nbsp;</p>

			<p>&nbsp;</p>
			</td>
		</tr>
	</tbody>
</table>

<h2>Related Info</h2>
<ul style="margin-left: 40px">
	<li><a href="Center_listings_approveReject_orgSteward.html">Org Steward: Approve/Return a Listing</a></li>
	<li><a href="Center_listingManagementPage_centerSteward.html">Center Steward: Listing Management</a></li>
	<li><a href="Center_listingManagementPage_user.html">User: Listing Management</a></li>
	</ul>



