<h1>Center Steward: Approval/Rejection Listings</h1>

<p>Before users can find and bookmark listings from Center, an org steward and Center steward must approve the listings as described in the following sections. After an org steward approves a listing, the Center steward must:</p>

<ol>
	<li>Click the&nbsp;Needs action filter. To do this, click the drop-down Main Menu and select Listing Management. Click Needs action from the state panel on the left:<br />
	<img alt="Needs Action Link on the Listing Management Page" src="Doc_images/NeedsAction_ListingManagementPage.png"   title="Needs Action Link on the Listing Management Page" /></li>
	<li>Listings that need approval appear on the Needs action page. Click a listing to open its Detailed View.</li>
	<li>After reviewing the listing, click the Administration tab.</li>
	<li>On the left-side, click&nbsp;Approve or Return to Owner:<br />
	&nbsp;<img border="0" src="Doc_images/mpAdminTab_Approve_Reject.png" alt="Approve/Return Setting on Admin Tab"/>
	<ol  >
		<li>If you approve the listing, the listing is automatically Enabled and it will appear in search results and be available to bookmark.</li>
		<li>If you click Return to Owner, type instructions explaining how the user should update the listing before resubmitting it. Then, click Return to Owner. The listing will move out of your queue until it is resubmitted and approved by an org steward.</li>
	</ol>
	</li>
	<li>As a Center steward, you have two more decisions:
	<ol  >
		<li><b><a id="CenterEnableDisable" name="CenterEnableDisable">Center Enabled</a></b> -- &nbsp;Makes the listing visible to all users, i.e., it appears on the Search and Discovery Page and is searchable.</li>
		<li><b>Featured</b> -- Activate the Featured button to add the listing to the group of Featured Listings that scroll across the top of the Search and Discovery Page, see <a href="Center_steward_featureFlag.html">Feature a Listing</a>.<br />
		<img alt="Enabled and Featured Buttons on a Listing's Detailed Page" src="Doc_images/AdminTab_EnableFeatured.png"   title="Enabled and Feature Buttons on a Listing's Detailed View" /><br/></li>
	</ol>
	</li>
</ol>

<h2>Related Info</h2>
<ul  >
	<li><a href="Center_listingManagementPage_centerSteward.html">Center Steward: Listing Management Page</a></li>
	<li><a href="Center_listings_overview.html">Listing Overview</a></li>
	<li><a href="Center_listings_create.html">Create a Listing</a></li>
	<li><a href="Center_listings_reviews.html">Review a Listing</a></li>
	<li><a href="Center_listings_edit.html">Edit a Listing</a></li>
</ul>