<h1><a id="Center_Steward_listingManagementPage" name="Center_Steward_listingManagementPage">Center Steward</a>: Listing Management Page</h1>

<p>Center stewards can see every listing in their organization from their Listing Management page. To access this page, click the drop-down Main Menu on the right side of the Global Toolbar and select Listing Management:</p>

<p><img alt="Link to Listing Management Page from Global Toolbar" src="../mocks/Doc_images/listingManagementLink.png" title="Listing Management Page" /></p>

<p>As a Center&nbsp;steward, the Listing Management page&nbsp;displays information about listings you own and listings you oversee.&nbsp;For user instructions about the Listing Management page see&nbsp;the <a href="Center_listingManagementPage_user.html">User View</a>: Listing Management Page.</p>

<p><img border="0" src="Doc_images/mpSteward_managementTabs.png" /></p>

<p>As a <b>Center steward</b>, you see multiple tabs on the Listing Management screen:</p>

<ul>
	<li>The <b>Recent Activity</b> tab displays changes to all listings you oversee.</li>
	<li><b>All Marketplace (Center) Listings </b>displays all listings in the system.</li>
	<li>Each&nbsp;<b>organizational tab</b> displays listings that you oversee for&nbsp;that specific organization. All the organization&rsquo;s listings appear there. You will only see this tab if you are an Org Steward.</li>
	<li>The <b>My Listings</b> tab displays listings you own.</li>
</ul>

<br>

<table align="left" border="0" cellpadding="5" cellspacing="0"  >
	<tbody>
		<tr>
			<td><img border="0" src="Doc_images/mpSteward_statePanel.png" /></td>
			<td>
			<p>The left-side State panel provides slightly different information than a user&rsquo;s or org steward&#39;s&nbsp;left-side panel:</p>

			<p><strong>State</strong></p>

			<ul>
				<li>All &ndash; Listings you oversee as a steward</li>
				<li>Published &ndash; Listings that are approved by Center and organizational stewards within your organization (this number includes listings that are Disabled)</li>
				<li>Needs action &ndash;Listing waiting for your approval. For instructions regarding approving or returning listings see <a href="Center_listings_approveReject_centerSteward.html">Approve or Return Listings</a>.</li>
				<li>Pending, Org. &ndash; Listings waiting for your approval</li>
				<li>Returned &ndash; Listings returned to their owners</li>
				<li>Draft &ndash; Listings in the system that have not been submitted for approval</li>
			</ul>

			<p><b>Organization</b></p>

			<p>Center stewards can filter by organization.</p>

			<p><b>Enabled</b></p>

			<p>All stewards see the Enabled<a> section which allows them to filter by <b>Enabled and Disabled listings </b>(For information about Enabled and Disabled listings see </a><a href="Center_listings_approveReject_centerSteward.html#CenterEnableDisable">Center Steward: Enable/Disable a Listing</a>.</p>

			</td>
		</tr>
	</tbody>
</table>

<br>
<h2>Related Info</h2>
<ul  >
	<li><a href="Center_listings_approveReject_centerSteward.html">Center Steward: Approve/Return a Listing</a></li>
	<li><a href="Center_listingManagementPage_orgSteward.html">Org Steward: Listing Management</a></li>
	<li><a href="Center_listingManagementPage_user.html">User: Listing Management</a></li>
	</ul>
