<h1>Org Steward: Approve/Return Listings</h1>

<p>Before users can find and bookmark listings from Center, an org steward and Center steward must approve the listings. The following section describes the <b>org steward </b>approval process:</p>

<p>&nbsp;</p>

<ol>
	<li>Click the&nbsp;Needs action filter. To do this, click the drop-down Main Menu and select Listing Management. Click Needs action from the State panel on the left:<br />
	&nbsp;<br />
	<img alt="Needs Action Link on the Listing Management Page" src="../mocks/Doc_images/NeedsAction_ListingManagementPage.png" style="height: 292px; width: 383px" title="Listing Management Page" /></li>
	<li>Listings that need approval appear. Click a listing to open its Detailed View.</li>
	<li>After reviewing the listing, click the Administration tab.</li>
	<li>On the left-side, click Approve or Return to Owner:<br />
	<img alt="Approve or Return the Listing" src="../mocks/Doc_images/AdminTab_Approve_Reject.png" style="height: 305px; width: 620px" title="Listing Management Page" />
	<ol style="list-style-type: lower-alpha">
		<li>If you approve the listing, it moves into the Center steward&#39;s queue and you&#39;re done. After the Center steward approves the listing, the owner or Center steward can enable or disable it.</li>
		<li>If you click Return to Owner, type instructions explaining how the user should update the listing before submitting it. Then, click Return to Owner. The listing will move out of your queue until the owner resubmits it.</li>
	</ol>
	</li>
</ol>

<p><a id="OrgEnableDisable" name="OrgEnableDisable"><strong>Org Enabled/Disable</strong></a></p>

<p>After a Center steward approves a listing, an org steward can Enable or Disable it:</p>

<p><img border="0" height="430" src="Doc_images/orgSteward_enabled.png" style="height: 314px; width: 675px" width="850" /></p>

<p>To enable or disable a listing:</p>

<ol>
	<li>Open the listing&#39;s Detailed View.</li>
	<li>Click the Administration tab and select Enable or Disable:
	<ul>
		<li>Enable a listing to&nbsp;make it available for bookmarking and searching.</li>
		<li>Disable a listing to hide it from search results.</li>
	</ul>
	</li>
</ol>



<h2>Related Info</h2>
<ul style="margin-left: 40px">
	<li><a href="Center_listingManagementPage_orgSteward.html">Org Steward: Listing Management Page</a></li>
	<li><a href="Center_listings_overview.html">Listing Overview</a></li>
	<li><a href="Center_listings_create.html">Create a Listing</a></li>
	<li><a href="Center_listings_reviews.html">Review a Listing</a></li>
	<li><a href="Center_listings_edit.html">Edit a Listing</a></li>
	</ul>
