<h2><a id="Help" name="Help">Help</a></h2>

<p>Click the <img alt="Help icon located on the Global Toolbar" src="Doc_images/Help_content_icon.png"  title="Help icon" /> located on the right-side of the Global Toolbar to access system help. If you&#39;re reading this, you&#39;ve probably found it. Help can house various types of files. It includes information about HUD, Center, Webtop and IWC.</p>

<h2>Related Info</h2>
<ul >
	<li><a href="OZONE_overview.html">OZONE Overview</a></li>
	<li><a href="GlobalToolbar_overview.html">Global Toolbar Overview</a></li>
	<li><a href="GlobalToolbar_notifications.html">Notifications</a></li>
	<li><a href="GlobalToolbar_mainMenu.html">Main Menu</a></li>
</ul>
