<h1><a id="GroupListings" name="GroupListings">Group Listings</a> in HUD</h1>

<h2>Group Listings by Creating Folders</h2>

<p>The HUD can contain folders similar to the folders used to group apps on a smart phone:</p>

<p><img alt="Folders in HUD" src="../mocks/Doc_images/folders_in_HUD.png" style="height: 237px; width: 729px" title="Folders in HUD" /></p>

<h2>Create a Folder</h2>
<p>To make a folder:</p>

<ol>
	<li>Click a listing and drag it over another listing. Release the listing to create&nbsp;a folder.</li>
	<li>Drag&nbsp;more&nbsp;listings&nbsp;into the folder&nbsp;to add them to it.</li>
</ol>

<h3>Name Your Folders</h3>

<p>As shown in the image above, your first folder defaults to the name&nbsp;&quot;New Folder.&quot; To change a folder name:</p>

<ol>
	<li>Double-click the folder name, which causes the textbox to highlight.</li>
	<li>Type the new name in the textbox.</li>
	<li>Click anywhere else on the screen; this action saves the new folder name.</li>
</ol>

<h2>Remove Listings from a Folder</h2>

<p>To remove a listing from a folder:</p>

<ol>
	<li>Click once on the folder to open it.</li>
	<li>Drag the listing from the folder. Expect it to disappear from the screen but not your HUD.</li>
	<li>When you close the folder (click the X), you will see the listing in your HUD--separate from the folder as shown by the MusicBox listing in the image above.</li>
</ol>

<h2>Delete a&nbsp;Folder</h2>

<p>To remove a folder from your HUD:</p>

<ol>
	<li>Click once on the folder to open it.</li>
	<li>Drag&nbsp;all listings from the folder. Expect&nbsp;the listings&nbsp;to disappear from the screen but not from your HUD.</li>
	<li>When the last listing leaves the folder, the folder disappears. You will see the listings in your HUD but the folder will be gone.</li>
</ol>

<h2>Related Info</h2>
<ul style="margin-left: 40px">
	<li><a href="HUD_overview.html">HUD Overview</a></li>
	<li><a href="HUD_useHUD.html">Use HUD</a></li>
	<li><a href="HUD_access.html">Access HUD</a></li>
	<li><a href="GlobalToolbar_overview.html">Global Toolbar Overview</a></li>
	</ul>


