<h1>HUD Overview</h1>

<p>HUD is a repository for all listings that you bookmark in Center. From HUD, you can quickly find, launch or get help relating to each listing. Also, you can remove bookmarked listing.</p>

<p><img src="../mocks/Doc_images/HUD_home.png" alt="HUD Home Page" style="width:780px;height:404px;"></p>


<h2>HUD for Stewards</h2>
Stewards have an additional section on their HUD for listing management:

<p><img src="../mocks/Doc_images/HUD_home_stewardView.png" alt="HUD Steward View" style="width:630px;height:433px;"></p>


<p>All users have the My Bookmarks  section of HUD, only listing owners see My Listings. However, only stewards see the listing management section described below:</p>


<p><img src="../mocks/Doc_images/HUD_stewardWidget.png" alt="HUD Steward View" style="width:963px;height:408px;"></p>

<p>From HUD, stewards see the number of listings that need action or are approved, pending, returned or in draft format in the system. To take action on any of the listings, click the <b>Listing Management</b> link.
Also, the steward section includes <b>Recent Activity</b> about each listing you oversee in the system. From each entry, you can view more information using the <b>See the listing changes</b> link or open the listing by clicking on its name. </p>


<h2>Related Info</h2>
<ul style="margin-left: 40px">
	<li><a href="HUD_useHUD.html">Use HUD</a></li>
	<li><a href="HUD_groupListings.html">Group Listings on your HUD</a></li>
	<li><a href="GlobalToolbar_overview.html">Global Toolbar Overview</a></li>
	<li><a href="OZONE_overview.html">OZONE Overview</a></li>
	<li><a href="Webtop_overview.html">Webtop Overview</a></li>
	<li><a href="Center_overview.html">Center Overview</a></li>
	</ul>