<h1>Access Webtop</h1>

<p>You access Webtop from the Global Toolbar. Click the <img alt="Webtop" src="Doc_images/Webtop_icon.png"  title="Webtop icon on the Global Toolbar" /> icon on the left side of the Global Toolbar:</p>

<p><img alt="Webtop access from the toolbar" src="Doc_images/webtop-access--from-toolbar.png"  title="Webtop access from the toolbar" /><br />
&nbsp;</p>

<h2>Related Info</h2>
<ul >
	<li><a href="Webtop_addListing.html">Add Listings to Webtop</a></li>
	<li><a href="Webtop_lower_toolbar.html">Webtop Overview of the Lower Toolbar</a></li>
	<li><a href="Webtop_dashboards_create.html">Create Dashboards</a></li>
	<li><a href="Webtop_overview.html">Webtop Overview</a></li>
	<li><a href="Webtop_useWebtop.html">Use Webtop</a></li>
	</ul>
