<h1>Add Listings to a Dashboard</h1>

<iframe width="560"
  height="315"
  src="https://www.youtube.com/embed/vnXb1S6l_jE"
  frameBorder="0" allowfullscreen title="TUTORIAL 6 - Use Apps">
</iframe>
<br /><br />

<p>Any listing you bookmarked in HUD will be accessible to use in Webtop. <br />
To add a listing to your Webtop:</p>

<ol>
	<li>Click the <img alt="List of bookmarks" src="Doc_images/+.png"  title="List of bookmarks" /> in the lower-left corner.</li>
	<li>A window will appear displaying all the listings you bookmarked in the HUD.<br />
	Select the ones you want to add and click <b>Open in a new dashboard</b> or <b>Open.</b> To add new listings, click <b>Find more apps</b> which will open Center where you can bookmark more listings.<br />
	<img alt="Add bookmarks to your webtop" src="Doc_images/Add-Listings-to-Webtop.png"  title="Use this window to add bookmarks to your webtop" /></li>
	<li>The listings will open in the dashboard and its small icon will appear at the bottom of the screen.</li>
</ol>
