<h1>Using the Lower Toolbar in Webtop</h1>

<p>Use the lower toolbar to add listings to a dashboard, switch dashboards and manage open listings.</p>

<p><img alt="Lower toolbar in Webtop" src="../mocks/Doc_images/webtop-lower-toolbar.png"  title="Lower toolbar in Webtop" /><br />
&nbsp;</p>

<p>The following table explains elements on the lower toolbar.</p>

<table border="1" cellpadding="2" cellspacing="0" >
	<tbody>
		<tr>
			<td><b>Action</b></td>
			<td><b>Description</b></td>
		</tr>
		<tr>
			<td><img alt="List of all open bookmarks" src="../mocks/Doc_images/+.png"  title="List of all open bookmarks" /></td>
			<td>Opens a window that lists all the listings you bookmarked to HUD</td>
		</tr>
		<tr>
			<td><img alt="Dashboard access icon" src="../mocks/Doc_images/dashboard-access-icon.png"  title="Dashboard access icon" /></td>
			<td>Opens access to your dashboards. From here you can switch dashboards; and create, edit or delete them.</td>
		</tr>
		<tr>
			<td><img alt="Small listing icons" src="../mocks/Doc_images/small-listing-icons-on-webtop.png"  title="Small listing icons" /></td>
			<td>Small icons that identify listings that are open on the dashboard.
			<ul>
				<li>A line under the icon represents a listing that is visible on the screen.</li>
				<li>Icons that do not have lines under them are minimized.</li>
			</ul>
				</td>
		</tr>
		<tr>
			<td><img alt="Cascading window format" src="../mocks/Doc_images/cascading-window-format-icon.png"  title="Cascading window format" /></td>
			<td>On desktop dashboards, the square icon moves all listings into a cascading window format.</td>
		</tr>
		<tr>
			<td><img alt="Make webtop full screen" src="../mocks/Doc_images/full-screen-icon.png"  title="Webtop full screen icon" /></td>
			<td>The arrows icon makes the Webtop full-screen (hiding both toolbars) or switches from full-screen mode back to standard view (displaying the toolbars).</td>
		</tr>
	</tbody>
</table>


<h2>Related Info</h2>
<ul >
	<li><a href="Webtop_addListing.html">Add Listings to Webtop</a></li>
	<li><a href="Webtop_dashboards_create.html">Create Dashboards</a></li>
	<li><a href="Webtop_useWebtop.html">Use Webtop</a></li>
	<li><a href="GlobalToolbar_overview.html">Global Toolbar Overview</a></li>
	</ul>
