<h1>Edit or Delete a Dashboard</h1>

<p>After creating a dashboard you can change its name or view. However, if you change its view, you will lose the state of the listings on that dashboard. Therefore when the dashboard resets you will lose any data loaded in that dashboard.</p>

<p>To edit a dashboard:</p>

<ol>
	<li>Click the <img alt="Dashboard access icon" src="Doc_images/dashboard-access-icon.png"  title="Dashboard access icon" /> at the bottom-left side of Webtop's lower toolbar.</li>
	<li>Click the edit icon beside the dashboard that you want to change:<br />
	<img alt="Edit the dashboard" src="Doc_images/dashboard-edit-icon.png"  title="Edit the dashboard" /></li>
	<li>The edit window opens. Change the Name or View.<br />
	<i>Note: If you change the view, you will lose the state of the listings on the dashboard.</i></li>
	<li>Click Save Dashboard.</li>
</ol>

<h2>Delete a Dashboard</h2>
<p>To delete a dashboard:</p>

<ol>
	<li>Click the <img alt="Dashboard access icon" src="Doc_images/dashboard-access-icon.png"  title="Dashboard access icon" /> at the bottom-left side of Webtop's lower toolbar.</li>
	<li>Click the trashcan icon beside the dashboard that you want to delete.</li>
	<li>A warning appears, click OK to confirm that you want to delete the dashboard.</li>
	<li>The dashboard will be removed.</li>
</ol>
