<h1>Add Listings to Webtop</h1>

<p>Any listing you bookmarked in HUD will be accessible to use in Webtop. </br>
To add a listing to your Webtop:</p>

<ol>
	<li>Click the <img alt="List of bookmarks" src="../mocks/Doc_images/+.png" style="height: 20px; width: 20px" title="List of bookmarks" /> in the lower-left corner.</li>
	<li>A window will appear displaying all the listings you bookmarked in the HUD.<br />
	Select the ones you want to add and click <b>Open in a new dashboard</b> or <b>Open.</b> To add new listings, click <b>Find more apps</b> which will open Center where you can bookmark more listings.<br />
	<img alt="Add bookmarks to your webtop" src="../mocks/Doc_images/Add-Listings-to-Webtop.png" style="height: 248px; width: 624px" title="Use this window to add bookmarks to your webtop" /></li>
	<li>The listings will open in the dashboard and its small icon will appear at the bottom of the screen.</li>
</ol>

<h2>Related Info</h2>
<ul style="margin-left: 40px">
	<li><a href="Webtop_addListing.html">Add Listings to Webtop</a></li>
	<li><a href="Webtop_lower_toolbar.html">Webtop Overview of the Lower Toolbar</a></li>
	<li><a href="Webtop_dashboards_create.html">Create Dashboards</a></li>
	<li><a href="Webtop_overview.html">Webtop Overview</a></li>
	<li><a href="Webtop_useWebtop.html">Use Webtop</a></li>
	<li><a href="Center_listings_overview.html">Listing Overview</a></li>
	<li><a href="HUD_overview.html">HUD Overview</a></li>
	</ul>
